{% include 'partials/header.html' %}
  <div class="about_section layout_padding">
         <div class="container">
            <div class="about_section_main">
               <div class="row">
                  <div class="col-md-6">
                     <div class="about_taital_main">
                        <h1 class="about_taital">About Our Beauty Store</h1>
                        <p class="about_text">
                            Beautify : A Revolutionary Beauty- Retail brand, promising to elevate your beauty routine from top-notch Internationally renown brands in Makeup Skincare and Hair care range.

Awarded recognition of Brand of the Year in 2015/2017 this retail side operates with 38 stores nationwide. A visit to Make-up City Outlet is like visiting the ultimate cosmetic Store for make-up lovers.

Launched in 2002, Makeup City has brought renowned international personal care brands under one roof for the first time in Pakistan. from a journey of a few stores, we have grown significantly, by making our brands available to almost every where a person can think off.

Makeup City is a must visit when going to a Mall or to a high street in a market for shopping.

Makeup City is a one-stop-solution FOR their beauty needs.


                        </p>

                     </div>
                  </div>
                  <div class="col-md-6">
                     <div><img src="/static/img/about-img.png" class="image_3"></div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- about section end -->
{% include 'partials/footer.html' %}