{% include 'partials/header.html' %}
{% include 'partials/slider.html' %}
<!-- product section start -->
      <div class="product_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-sm-12">
                  <h1 class="product_taital">Our Category</h1>
               </div>
            </div>
            <div class="product_section_2 layout_padding">
               <div class="row">
                  <div class="col-lg-3 col-sm-6">
                     <div class="product_box">
                        <h4 class="bursh_text">Beauty Bursh</h4>
                 <hr>
                        <a href="{% url 'category' '1' %}"><img src="/static/img/img-1.png" class="image_1"></a>
                        <div class="btn_main">
                           <div class="buy_bt">
                              <ul>
                                 <li class="ml-4"><a href="{% url 'category' '1' %}">Explore More Products</a></li>
                              </ul>
                           </div>

                        </div>
                     </div>
                  </div>
                  <div class="col-lg-3 col-sm-6">
                     <div class="product_box">
                        <h4 class="bursh_text">Lip Stick</h4>
                   <hr>
                        <a href="{% url 'category' '2' %}"><img src="/static/img/img-6.png" class="image_1"></a>
                        <div class="btn_main">
                           <div class="buy_bt">
                              <ul>
                                  <li class="ml-4"><a href="{% url 'category' '2' %}">Explore More Products</a></li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-3 col-sm-6">
                     <div class="product_box">
                        <h4 class="bursh_text">Face Powder</h4>
                       <hr>
                        <a href="{% url 'category' '3' %}"><img src="static/img/img-8.png" class="image_1"></a>
                        <div class="btn_main">
                           <div class="buy_bt">
                              <ul>
                                 <li class="ml-4"><a href="{% url 'category' '3' %}">Explore More Products</a></li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-3 col-sm-6">
                     <div class="product_box">
                        <h4 class="bursh_text">Foundation</h4>
                       <hr>
                        <a href="{% url 'category' '4' %}"><img src="static/img/img-4.png" class="image_1"></a>
                        <div class="btn_main">
                           <div class="buy_bt">
                              <ul>
                                 <li class="ml-4"><a href="{% url 'category' '4' %}">Explore More Products</a></li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-lg-3 col-sm-6">
                     <div class="product_box">
                        <h4 class="bursh_text">Tint</h4>
                           <hr>
                        <a href="{% url 'category' '5' %}"><img src="static/img/img-5.png" class="image_1"></a>
                        <div class="btn_main">
                           <div class="buy_bt">
                              <ul>
                                  <li class="ml-4"><a href="{% url 'category' '5' %}">Explore More Products</a></li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-3 col-sm-6">
                     <div class="product_box">
                        <h4 class="bursh_text">Eye Shadow</h4>
                           <hr>
                        <a href="{% url 'category' '6' %}"><img src="static/img/img-7.png" class="image_1"></a>
                        <div class="btn_main">
                           <div class="buy_bt">
                              <ul>
                                 <li class="ml-4"><a href="{% url 'category' '6' %}">Explore More Products</a></li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-3 col-sm-6">
                     <div class="product_box">
                        <h4 class="bursh_text">Liner</h4>
                           <hr>
                        <a href="{% url 'category' '7' %}"><img src="static/img/img-12.png" class="image_1"></a>
                        <div class="btn_main">
                           <div class="buy_bt">
                              <ul>
                                 <li class="ml-4"><a href="{% url 'category' '7' %}">Explore More Products</a></li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-3 col-sm-6">
                     <div class="product_box">
                        <h4 class="bursh_text">Blush On</h4>
                           <hr>
                        <a href="{% url 'category' '8' %}"><img src="static/img/img-2.png" class="image_1"></a>
                        <div class="btn_main">
                           <div class="buy_bt">
                              <ul>
                                  <li class="ml-4"><a href="{% url 'category' '8' %}">Explore More Products</a></li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-lg-3 col-sm-6">
                     <div class="product_box">
                        <h4 class="bursh_text">Mascara</h4>
                           <hr>
                        <a href="{% url 'category' '9' %}"><img src="static/img/img-3.png" class="image_1"></a>
                        <div class="btn_main">
                           <div class="buy_bt">
                              <ul>
                                 <li class="ml-4"><a href="{% url 'category' '9' %}">Explore More Products</a></li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-3 col-sm-6">
                     <div class="product_box">
                        <h4 class="bursh_text">Perfumes</h4>
                           <hr>
                        <a href="{% url 'category' '10' %}"><img src="static/img/img-9.png" class="image_1"></a>
                        <div class="btn_main">
                           <div class="buy_bt">
                              <ul>
                                  <li class="ml-4"><a href="{% url 'category' '10' %}">Explore More Products</a></li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-3 col-sm-6">
                     <div class="product_box">
                        <h4 class="bursh_text">Nail</h4>
                           <hr>
                        <a href="{% url 'category' '11' %}"><img src="static/img/nail.png" class="image_1"></a>
                        <div class="btn_main">
                           <div class="buy_bt">
                              <ul>
                                 <li class="ml-4"><a href="{% url 'category' '11' %}">Explore More Products</a></li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-3 col-sm-6">
                     <div class="product_box">
                        <h4 class="bursh_text">Hairs</h4>
                    <hr>
                        <a href="{% url 'category' '12' %}"><img src="static/img/hair.png" class="image_1"></a>
                        <div class="btn_main">
                           <div class="buy_bt">
                              <ul>
                                 <li class="ml-4"><a href="{% url 'category' '12' %}">Explore More Products</a></li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- product section end -->
{% include 'partials/banner.html' %}
      <!-- customer section start -->
      <div class="customer_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-sm-12">
                  <h1 class="customer_taital">What says customers</h1>
               </div>
            </div>
            <div id="main_slider" class="carousel slide" data-ride="carousel">
               <div class="carousel-inner">
                  <div class="carousel-item active">
                     <div class="client_section_2">
                        <div class="client_main">
                           <div class="client_left">
                              <div class="client_img"><img src="static/img/client-img.png"></div>
                           </div>
                           <div class="client_right">
                              <h3 class="name_text">Jonyro</h3>
                              <p class="dolor_text">consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation  eu </p>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="carousel-item">
                     <div class="client_section_2">
                        <div class="client_main">
                           <div class="client_left">
                              <div class="client_img"><img src="static/img/client-img.png"></div>
                           </div>
                           <div class="client_right">
                              <h3 class="name_text">Jonyro</h3>
                              <p class="dolor_text">consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation  eu </p>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="carousel-item">
                     <div class="client_section_2">
                        <div class="client_main">
                           <div class="client_left">
                              <div class="client_img"><img src="static/img/client-img.png"></div>
                           </div>
                           <div class="client_right">
                              <h3 class="name_text">Jonyro</h3>
                              <p class="dolor_text">consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation  eu </p>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
               <i class="fa fa-angle-left"></i>
               </a>
               <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
               <i class="fa fa-angle-right"></i>
               </a>
            </div>
         </div>
      </div>
      <!-- customer section end -->
      <!-- contact section start -->
      <div class="contact_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-md-6">
                  <h1 class="contact_taital">Get In Touch</h1>
                  <p class="contact_text">Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation  eu </p>
               </div>
               <div class="col-md-6">
                  <div class="contact_main">
                     <div class="contact_bt"><a href="#">Contact Form</a></div>
                     <div class="newletter_bt"><a href="#">Newletter</a></div>
                  </div>
               </div>
            </div>
         </div>
         <div class="map_main">
            <div class="map-responsive">
               <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0s1a7phLN0iaD6-UE7m4qP-z21pH0eSc&amp;q=Eiffel+Tower+Paris+France" width="600" height="400" frameborder="0" style="border:0; width: 100%;" allowfullscreen=""></iframe>
            </div>
         </div>
      </div>
      <!-- contact section end -->
{% include 'partials/footer.html' %}