{% include 'partials/header.html' %}
   <!-- product section start -->
      <div class="product_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-sm-12">
                  <h1 class="product_taital">Our Category</h1>

               </div>
            </div>
            <div class="product_section_2 layout_padding">
               <div class="row">
                  <div class="col-lg-3 col-sm-6">
                     <div class="product_box">
                        <h4 class="bursh_text">Beauty Bursh</h4>
                        <hr>
                        <a href="{% url 'category' '1' %}"><img src="/static/img/img-1.png" class="image_1"></a>
                        <div class="btn_main">
                            <div class="buy_bt">
                            <ul>
                               <li class="ml-4"><a href="{% url 'category' '1' %}">Explore More Products</a></li>
                              </ul>
                            </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-3 col-sm-6">
                     <div class="product_box">
                        <h4 class="bursh_text">Lip Stick</h4>
                           <hr>
                        <a href="{% url 'category' '2' %}"><img src="/static/img/img-6.png" class="image_1"></a>
                        <div class="btn_main">
                           <div class="buy_bt">
                              <ul>
                                      <li class="ml-4"><a href="{% url 'category' '2' %}">Explore More Products</a></li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-3 col-sm-6">
                     <div class="product_box">
                        <h4 class="bursh_text">Face Powder</h4>
                           <hr>
                        <a href="{% url 'category' '3' %}"><img src="/static/img/img-8.png" class="image_1"></a>
                        <div class="btn_main">
                           <div class="buy_bt">
                              <ul>
                                     <li class="ml-4"><a href="{% url 'category' '3' %}">Explore More Products</a></li>
                              </ul>
                           </div>

                        </div>
                     </div>
                  </div>
                  <div class="col-lg-3 col-sm-6">
                     <div class="product_box">
                        <h4 class="bursh_text">Foundation</h4>
                           <hr>
                        <a href="{% url 'category' '4' %}"><img src="/static/img/img-4.png" class="image_1"></a>
                        <div class="btn_main">
                           <div class="buy_bt">
                              <ul>
                                     <li class="ml-4"><a href="{% url 'category' '4' %}">Explore More Products</a></li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-lg-3 col-sm-6">
                     <div class="product_box">
                        <h4 class="bursh_text">Tint</h4>
                           <hr>
                        <a href="{% url 'category' '5' %}"><img src="/static/img/img-5.png" class="image_1"></a>
                        <div class="btn_main">
                           <div class="buy_bt">
                              <ul>
                                     <li class="ml-4"><a href="{% url 'category' '5' %}">Explore More Products</a></li>
                              </ul>
                           </div>

                        </div>
                     </div>
                  </div>
                  <div class="col-lg-3 col-sm-6">
                     <div class="product_box">
                        <h4 class="bursh_text">Eye Shadow</h4>
                           <hr>
                        <a href="{% url 'category' '6' %}"><img src="/static/img/img-7.png" class="image_1"></a>
                        <div class="btn_main">
                           <div class="buy_bt">
                              <ul>
                                     <li class="ml-4"><a href="{% url 'category' '6' %}">Explore More Products</a></li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-3 col-sm-6">
                     <div class="product_box">
                        <h4 class="bursh_text">Liner</h4>
                           <hr>
                        <a href="{% url 'category' '7' %}"><img src="/static/img/img-12.png" class="image_1"></a>
                        <div class="btn_main">
                           <div class="buy_bt">
                              <ul>
                                      <li class="ml-4"><a href="{% url 'category' '7' %}">Explore More Products</a></li>
                              </ul>
                           </div>

                        </div>
                     </div>
                  </div>
                  <div class="col-lg-3 col-sm-6">
                     <div class="product_box">
                        <h4 class="bursh_text">Blush On</h4>
                           <hr>
                        <a href="{% url 'category' '8' %}"><img src="/static/img/img-2.png" class="image_1"></a>
                        <div class="btn_main">
                           <div class="buy_bt">
                              <ul>
                                      <li class="ml-4"><a href="{% url 'category' '8' %}">Explore More Products</a></li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-lg-3 col-sm-6">
                     <div class="product_box">
                        <h4 class="bursh_text">Mascara</h4>
                           <hr>
                        <a href="{% url 'category' '9' %}"><img src="/static/img/img-3.png" class="image_1"></a>
                        <div class="btn_main">
                           <div class="buy_bt">
                              <ul>
                                     <li class="ml-4"><a href="{% url 'category' '9' %}">Explore More Products</a></li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-3 col-sm-6">
                     <div class="product_box">
                        <h4 class="bursh_text">Perfumes</h4>
                           <hr>
                        <a href="{% url 'category' '10' %}"><img src="/static/img/img-9.png" class="image_1"></a>
                        <div class="btn_main">
                           <div class="buy_bt">
                              <ul>
                                      <li class="ml-4"><a href="{% url 'category' '10' %}">Explore More Products</a></li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-3 col-sm-6">
                     <div class="product_box">
                        <h4 class="bursh_text">Nail</h4>
                           <hr>
                        <a href="{% url 'category' '11' %}"><img src="/static/img/nail.png" class="image_1"></a>
                        <div class="btn_main">
                           <div class="buy_bt">
                              <ul>
                                    <li class="ml-4"><a href="{% url 'category' '11' %}">Explore More Products</a></li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-3 col-sm-6">
                     <div class="product_box">
                        <h4 class="bursh_text">Hairs</h4>
                           <hr>
                        <a href="{% url 'category' '12' %}"><img src="/static/img/hair.png" class="image_1"></a>
                        <div class="btn_main">
                           <div class="buy_bt">
                              <ul>
                                    <li class="ml-4"><a href="{% url 'category' '12' %}">Explore More Products</a></li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- product section end -->
{% include 'partials/footer.html' %}