{% include 'partials/header.html' %}
    <div class="container">
        <div class="row">
            <!-- Sidebar -->
            <div class="col-md-3 mt-5">
                <div class="list-group mt-5">
                    <a href="{% url 'profile' %}" class="list-group-item list-group-item-action" style="background-color:#fae1e1">Profile</a>
                    <a href="{% url 'address' %}" class="list-group-item list-group-item-action" >Address</a>
                </div>
            </div>
            <!-- Profile Form -->
            <div class="col-md-9 mt-5">
                <h1><b>Welcome User {{request.user}}</b></h1>
                    <!-- Add your form fields here -->
                <div class="card" >

                    <form   method="post"  class="form px-4 pt-5">
                        {% csrf_token %}
                          {{ form.as_p }}
                    <!-- Add more form fields as needed -->
                    <button type="submit" class="btn btn-light mb-5"  style="background-color:#fae1e1">Save</button>
                </form>
                     {% for message in messages %}
<div class="container-fluid p-0 bg-white mt-3">
  <div class="alert {{ message.tags }} alert-success text-center text-black" role="alert" >

                  {{ message }}
  </div>
</div>
                  {% endfor %}

            </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.5.0/dist/js/bootstrap.min.js" integrity="sha384-Vc5A6Fnp3I5ycZNpO5z5z5z5z5z5z5z5z5z5z5z5z5z5z5z5z5z5z5z5z5z5z5z5" crossorigin="anonymous"></script>

{% include 'partials/footer.html' %}